.box {
  padding: 15px, 30px;
  background: none;
  border: 2px solid;
  border-color: #d3c5bd;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  overflow: hidden;
}
.box .icon {
  width: 60px;
}
.box .icon i {
  font-size: 30px;
}
.box .icon.icon-primary i {
  color: #1fbbd3;
}
.box .icon.icon-secondary i {
  color: #fb582f;
}
.box .icon.icon-tertiary i {
  color: #159688;
}
.box .icon.icon-quarternary i {
  color: #e92465;
}
.box .text {
  width: calc(100% - 60px);
}
.text-right {
  text-align: right !important;
}
.box .text h4 {
  font-size: 22px;
  margin-bottom: 0;
}
