/* ------- PRIMARY COLORS ------- */
.color-blue {
  color: #1fbbd3;
}
.color-red {
  color: #e92465;
}
.color-green {
  color: #159688;
}
.color-orange {
  color: #fb582f;
}
.color-white {
  color: #fff;
}

/* ---------- WEB COLORS ----------- */
.color-primary {
  color: #d3c5bd;
}
.color-bg-primary {
  background-color: #d3c5bd;
}
.color-secondary {
  color: #411c1b;
}
.color-bg-secondary {
  background-color: #411c1b;
}
.color-bg-secondary-trans {
  background-color: #7d4332b4;
}
.color-tertiary {
  color: #7d4432;
}
.color-bg-tertiary {
  background-color: #7d4432;
}
.color-quaternary {
  color: #b07443;
}
.color-bg-quaternary {
  background-color: #b07443;
}

/* ---------- NAV BAR ----------- */
.no-underline {
  text-decoration: none;
}
.logo {
  width: 150px;
  border-radius: 5%;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  width: 500;
  color: #fff;
  font-size: 20px;
}
@media (min-width: 768px) {
  .navbar-brand {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    font-size: 30px;
  }
}
.search-button {
  border-color: #b07443;
  color: #fff;
  --hover: #b07443;
}
.search-button:hover,
.search-button:focus {
  -webkit-animation: search-button 1s;
  animation: search-button 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes search-button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes search-button {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.login-button {
  border-color: #b07443;
  color: #fff;
  --hover: #fff;
}
.login-button {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
/* .login-button:hover,
.login-button:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
} */

/* ---------- JUMBOTRON ----------- */
.img-bg {
  background: #fff
    url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1721&q=80");
  background-size: auto auto;
  color: #fff;
}
.jumbotron h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.jumbotron .lead {
  font-size: 1.25rem;
  font-weight: 300;
}
/* -- COUNTRIES SCROLL -- */
.scroll {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.country-name {
  display: none;
}

.flag:hover .country-name {
  display: block;
}

@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
}

/* Customize the scrollbar */
.scroll::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

.scroll::-webkit-scrollbar-track {
  background: #7d4332b4; /* Color of the scrollbar track */
}

.scroll::-webkit-scrollbar-thumb {
  background: #411c1b; /* Color of the scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #b07443; /* Color of the scrollbar handle on hover */
}

/* ---------- CARD DETAILS ----------- */
.title {
  border-top: 2px solid #d3c5bd;
  border-bottom: 2px solid #d3c5bd;
  padding-top: 2px;
  padding-bottom: 2px;
}
.box {
  padding: 15px, 30px;
  background: none;
  border: 2px solid;
  border-color: #d3c5bd;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  overflow: hidden;
}
.text-right {
  text-align: right !important;
}
.box .text {
  width: calc(100% - 60px);
}
.box .text h4 {
  font-size: 22px;
  margin-bottom: 0;
}
.box .icon {
  width: 60px;
}
.post-details p {
  font-size: 20px;
}
.comments-container h2 {
  margin: 0px;
  padding: 0px;
  color: #d3c5bd;
}
/* ---------- COMMENTS ---------- */
ul {
  list-style: none;
}
.comment-image > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.comment-box {
  border: 2px solid;
  border-color: #411c1b;
  border-radius: 25px;
  align-items: center;
}
.comment-tag {
  font-size: 20px;
  font-style: italic;
}
.comment-box span {
  color: #d3c5bd;
}
.comment-box p {
  font-size: 20px;
}

/* ---------- ICONS ----------- */
i {
  font-size: 30px;
}
/* ---------- NAME TAG ----------- */
.nametag {
  padding: 1em;
  border: 12px solid transparent;
  border-image: 16
    repeating-linear-gradient(
      -45deg,
      red 0,
      red 1em,
      transparent 0,
      transparent 2em,
      #58a 0,
      #58a 3em,
      transparent 0,
      transparent 4em
    );

  /*max-width: 20em;*/
  font: 100%/1.6 Baskerville, Palatino, serif;
}

.list-group {
  background-color: #d3c5bd;
}

.divider {
  border-right: 2px dashed rgb(46, 46, 46);
}

.text-error {
  color: #ffffff;
}
.fa-triangle-exclamation {
  color: #ff0800;
}

/* ---------- Buttons ----------- */
.buttons {
  background-color: #d3c5bd;
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset -10em 0 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #d3c5bd;
  --hover: #411c1b;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #d3c5bd;
  --hover: #b07443;
}

/* .fake-button {
  --color: #d3c5bd;
  --hover: #b07443;
} */

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

input.fake-input:focus,
select.fake-input:focus,
textarea.fake-input:focus {
  outline: 1px solid #fff !important;
  background: #7d4432;
}

button,
.fake-button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.card-component {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

label {
  color: #d3c5bd;
  font-size: 1.5em;
}
.fake-input {
  background: none;
  border: 2px solid #d3c5bd;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #fff;
  font-size: 1.2em;
}
::placeholder {
  color: #d3c5bd;
  opacity: 1;
}
