.img-bg {
  background: #fff
    url("https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1721&q=80");
  background-size: auto auto;
  color: #fff;
}
.title {
  border-top: 2px solid #d3c5bd;
  border-bottom: 2px solid #d3c5bd;
  padding-top: 2px;
  padding-bottom: 2px;
}
footer {
  background-color: #d3c5bd;
}
/* ---------- NavBar ----------- */
nav {
  background-color: #d3c5bd;
  color: #fff;
}
.no-underline {
  text-decoration: none;
}
.logo {
  width: 150px;
  border-radius: 5%;
}
.navbar-brand {
  font-family: "Dancing Script", cursive;
  width: 500;
  color: #7d4432;
  font-size: 20px;
}
@media (min-width: 768px) {
  /* Adjust font size for medium-sized screens */
  .navbar-brand {
    font-size: 24px;
  }
}

/*
    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@media (min-width: 992px) {
  /* Adjust font size for large screens */
  .navbar-brand {
    font-size: 30px;
  }
}

/* ---------- Colors ----------- */
.color-primary {
  color: #d3c5bd;
}
.color-secondary {
  color: #411c1b;
}
.color-danger {
  color: #a31c11;
}
.color-tertiary {
  color: #7d4432;
}
.color-quaternary {
  color: #b07443;
}
.color-bg-primary {
  background-color: #d3c5bd;
}
.color-bg-secondary {
  background-color: #411c1b;
}
.color-bg-tertiary {
  background-color: #7d4432;
}
.color-bg-quaternary {
  background-color: #b07443;
}

/* ---------- Buttons ----------- */
.buttons {
  background-color: #d3c5bd;
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
  box-shadow: inset -10em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
  --color: #a972cb;
  --hover: #cb72aa;
}

.pulse {
  --color: #7d4432;
  --hover: #b07443;
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}

.raise {
  --color: #d3c5bd;
  --hover: #411c1b;
}

.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.slide {
  --color: #d3c5bd;
  --hover: #b07443;
}

.offset {
  --color: #b07443;
  --hover: #7d4432;
}

/* .fake-button {
  --color: #d3c5bd;
  --hover: #b07443;
} */

button {
  color: var(--color);
  transition: 0.25s;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

input.fake-input:focus,
select.fake-input:focus,
textarea.fake-input:focus {
  outline: 1px solid #fff !important;
  background: #7d4432;
}

button,
.fake-button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.card-component {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

label {
  color: #d3c5bd;
  font-size: 1.5em;
}
.fake-input {
  background: none;
  border: 2px solid #d3c5bd;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  color: #fff;
  font-size: 1.2em;
}
::placeholder {
  color: #d3c5bd;
  opacity: 1;
}

/*-----nametag------*/
.nametag {
  padding: 1em;
  border: 16px solid transparent;
  border-image: 16
    repeating-linear-gradient(
      -45deg,
      red 0,
      red 1em,
      transparent 0,
      transparent 2em,
      #58a 0,
      #58a 3em,
      transparent 0,
      transparent 4em
    );

  max-width: 20em;
  font: 100%/1.6 Baskerville, Palatino, serif;
}

.list-group {
  background-color: #d3c5bd;
}
